<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>TrashTALK About Us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
  .jumbotron {
    background-color: #55DAB5;
    color: #fff;
    padding: 100px 25px;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #19C28D;
    font-size: 50px;
  }
  .logo {
    color: #f4511e;
    font-size: 200px;
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
#header{
 font-family: Segoe UI;
 font-size: 90px;
 color: black;
 }

 body {
 	font-family: Century Gothic;
    font-size: 30px;
    }
#cover-photo{
	background-image:url("https://assets.weforum.org/article/image/large_jszVrdB3Jd9LNl03oOFpdUibAj-Osa9B2hDN1BUfolo.jpg");
	background-size:cover;
	opacity:0.8;
}
  </style>
</head>
<body>

<div class="jumbotron text-center" id="cover-photo">
  <h1 id="header">TrashTALK</h1> <br>
  <p>Fighting hunger and food waste by facilitating the redistribution of surplus food. </p>
  <form class="form-inline">
    <div class="input-group">


    </div>
  </form>
</div>

<!-- Container (About Section) -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2><b>The Problem</h2>
      <ul class="list-unstyled">
      <li>
      <ul><li><h4>40% of the food produced in Canada is wasted each year.</h4></li>
      <li><h4>The average Canadian wastes approximately 183kg of solid food per year.</h4></li>
      <li><h4> Food waste costs Canada's economy more than $31 billion each year.</h4></li>
      </ul>
      </li>

    </div>
    <div class="col-sm-4">
      <a href="default.asp">
  		<img src="https://cdn.1millionwomen.com.au/media/large_image/1438663685.jpg" style="width:360px;height:220px;border:00;">
	  </a>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <a href="default.asp">
  		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Food_Bank_icon.svg/600px-Food_Bank_icon.svg.png" style="width:220px;height:240px;border:00;">
	  </a>
    </div>
    <div class="col-sm-8">
      <h2><b>What We Do</h2><br>
      <h4>TrashTALK is a social platform where relationships are built between food businesses and charities, communication is quick and simple and food reaches those in need, safely and conveniently. </h4>
      <h4><b> When a business has surplus food to donate, they upload their information online. Nearby charities scroll through our Trashboard and can claim the food online.</h4>
    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div class="container-fluid text-center">
  <h1><b>Join The Talk</h1>
  <h4>They are all trash-talking:</h4>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
      <a href="default.asp">
  		<img src="https://www.seeklogovector.com/wp-content/uploads/2018/10/provigo-logo-vector.png" style="width:240px;height:140px;border:0;">
	  </a>
    </div>
    <div class="col-sm-4">
      <a href="default.asp">
  		<img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/29/Maxi_%28Canadian_supermarket%29_logo.svg/1200px-Maxi_%28Canadian_supermarket%29_logo.svg.png" style="width:200px;height:100px;border:0;">
	  </a>
    </div>
    <div class="col-sm-4">
      <a href="default.asp">
  		<img src="https://www.moissonmontreal.org/wp-content/uploads/2016/03/MOI_logo_V.jpg" style="width:170px;height:200px;border:0;">
	  </a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <a href="default.asp">
  		<img src="http://www.frenchstreet.ca/wp-content/uploads/2016/06/mcgill-university-logo.jpg" style="width:240px;height:120px;border:0;">
	  </a>
    </div>
    <div class="col-sm-4">
         <a href="default.asp">
  		<img src="https://www.nhky.org/wp-content/uploads/2015/08/walmart.png" style="width:260px;height:140px;border:0;">
	  </a>
    </div>
    <div class="col-sm-4">
    <a href="default.asp">
  		<img src="http://www.tellementbeau.org/wp-content/uploads/2016/10/ferme-quinn.png" style="width:200px;height:200px;border:0;">
	  </a>
    </div>
  </div>
</div>

</body>
</html>
