
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/assets/home.css">
    <link rel="stylesheet" type="text/css" href="/assets/charity-form.css">
    <link rel="stylesheet" type="text/css" href="animate.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">


    <title>Welcome to TrashTalk</title>
  </head>
  <body>
  	<!-- Navigation Bar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="home-navbar">
	  <a class="navbar-brand" href="#">TrashTalk</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto" id="navbar-item">
	      <li class="nav-item active">
	        <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Login</a>
	      </li>
	    </ul>
	  </div>
	</nav>
  	<!-- home main content -->
  	<div id="main-content">
  		<div class="container">
	  		<div class="main-item animated fadeIn delay-1s" id="farmer-container">
	  			<img src="http://www.pngall.com/wp-content/uploads/2017/11/Farmer-PNG-HD.png" class="main-content-image">
	  		</div>
	  		<div class="main-item animated fadeIn delay-2s" id="arrow-container-1">
	  			<img src="https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-right-01-512.png" class="main-content-image-arrow">
	  		</div>
	  		<div class="main-item animated fadeIn delay-3s" id="charity-container">
	  			<img src="https://library.kissclipart.com/20180902/lke/kissclipart-donation-icon-clipart-donation-charitable-organiza-bb6fc7cf88d9deef.png" class="main-content-image">
	  		</div>
	  		<div class="main-item animated fadeIn delay-4s" id="arrow-container-2">
	  			<img src="https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-right-01-512.png" class="main-content-image-arrow">
	  		</div>
	  		<div class="main-item animated fadeIn delay-5s" id="consumer-container">
	  			<img src="https://image.flaticon.com/icons/png/512/10/10991.png" class="main-content-image">
	  		</div>
  		</div>
  		<div class="container" id="buttons">
  			<div class="sign-up-button" id="button-left">
  				<button type="button" class="btn btn-outline-dark btn-lg"><b>Register as Supplier</b></button>
  			</div>
		  	<div class="sign-up-button" id="button-middle">
		  		<button type="button" class="btn btn-outline-dark btn-lg" onclick="document.getElementById('id01').style.display='block'"><b>Register as Charity</b></button>
		  	</div>
		  	<div class="sign-up-button" id="button-right">
		  		<button type="button" class="btn btn-outline-dark btn-lg"><b>Register as something</b></button>
		  	</div>
  		</div>
  	</div>
    <!--
    <form id="contact-form" method="POST" action="/profile">
    	<label for="department">Which department?</label>
    	<input type="text" name="department"/>
    	<label for="email">your email</label>
    	<input type="email" name="email"/>
    	<input type="submit" name="submit"/>
    </form>
  -->
  	<!-- home cover photo -->

    <div id="cover-photo">
    </div>
    <div id="id01" class="modal">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <form class="modal-content" method="POST" action="/profile">
        <div class="container">
          <h1>Sign Up as a Charity</h1>
          <p>Please fill in this form to create a TrashTALK account.</p>
          <hr>
          <label for="name"><b>Your Name</b></label>
          <input type="text" placeholder="Enter Your Full Name" name="name" required>

          <label for="companyName"><b>Charity Name</b></label>
          <input type="text" placeholder="Enter Charity Name" name="companyName" required>


          <label for="email"><b>Email</b></label>
          <input type="email" placeholder="Enter Email" name="email" required>

          <label for="contactNumber"><b>Contact Number</b></label>
          <input type="text" placeholder="Enter Contact Number" name="contactNumber" required>

          <label for="address"><b>Charity Address</b></label>
          <input type="text" placeholder="Enter your charity's address" name="address" required>
          <input type="submit" name="submit" />
      </form>
      <!--
          <form>
          <label for="foodtype"><b>What types of products are you looking for?</b></label> <br>
          <form method="POST" action="/profile">
            <input type="checkbox" name="option1" value="Meat"> Meat/Fish/Poultry<br>
            <input type="checkbox" name="option2" value="Dairy"> Dairy <br>
            <input type="checkbox" name="option3" value="fruitsandveg" checked> Fruits and Vegetables <br>
            <input type="checkbox" name="option4" value="Cereal" checked> Cereal <br>
            <input type="checkbox" name="option5" value="Bakery" checked> Bakery <br>
            <input type="checkbox" name="option6" value="Beverages" checked> Beverages <br>
            <input type="checkbox" name="option7" value="Longlife" checked> Long-life <br><br>

          </form>


          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

          <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
          </label>

          <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

          <div class="clearfix">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            <input type="submit" value="submit" />
            <button type="submit" value="submit" class="signupbtn">Sign Up</button>
          </div>
        </div>
      </form>
    </div>
  -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
